ul.services-list
  li.service-heading
    a(href="https://www.tinkoff.ru/travel/flights/") Путешествия
  li
    a(href="https://www.tinkoff.ru/travel/flights/") Авиабилеты
  li
    a(href="https://www.tinkoff.ru/travel/hotels/") Отели
  li
    a(href="https://www.tinkoff.ru/travel/tours/") Туры
  li
    a(href="https://www.tinkoff.ru/travel/trains/") Ж/д билеты
  li
    a(href="https://www.tinkoff.ru/travel/rentalcars/") Аренда авто
  li
    a(href="https://www.tinkoff.ru/travel/map/") Куда лететь?