- var loginIcon = require("!!svg-inline-loader!../../asset/login.svg")
- var moredots = require("!!svg-inline-loader!../../asset/moredots.svg")
header 
	nav
		.menu-content
			ul.navigation-menu
				li
					a.logo(href="https://tinkoff.ru")
				li.menu-item.selected
					a(href="https://tinkoff.ru") Банк
					
				li.menu-item.business
					a(href="https://www.tinkoff.ru/business/?from=business_card_test_test") Бизнес
					.dropdown
						.transparent-block
						ul.dropdown-content
							li.dropdown-item
								a(href="https://www.tinkoff.ru/business/?from=business_card_test_test") Малый бизнес
							li.dropdown-item
								a(href="https://www.tinkoff.ru/corporate/?from=business_card_test_test") Большой бизнес
				li.menu-item
					//- a(href="https://www.tinkoff.ru/kassa/") Касса
					a(href="https://www.tinkoff.ru/kassa/") !{moredots}
				li.menu-item
					a(href="https://www.tinkoff.ru/invest/") Инвестиции
				li.menu-item
					a(href="https://www.tinkoff.ru/insurance/") Страхование
				li.menu-item
					a(href="https://www.tinkoff.ru/mobile-operator/") Сим-карта
				li.menu-item
					a(href="https://www.tinkoff.ru/travel/flights/") Путешествия	
				li.menu-item
					a(href="https://www.tinkoff.ru/entertainment/samara/life/") Развлечения
			a.login(href="https://www.tinkoff.ru/login/")
				span Войти
				.login-icon !{loginIcon}
		hr.divider
		ul.submenu
			li.menu-item
				a(href="https://www.tinkoff.ru/cards/credit-cards/") Кредитные карты
			li.menu-item
				a(href="https://www.tinkoff.ru/cards/debit-cards/") Дебетовые карты
			li.menu-item
				a(href="https://www.tinkoff.ru/deposit/") Вклады
			li.menu-item
				a(href="https://www.tinkoff.ru/tinkoff-premium/") Премиум
			li.menu-item
				a(href="https://www.tinkoff.ru/pro/") Подписка
			li.menu-item
				a(href="https://www.tinkoff.ru/loans/cash-loan/") Кредит наличными
			li.menu-item
				a(href="https://www.tinkoff.ru/loans/refinance/") Рефинансирование
			li.menu-item
				a(href="https://www.tinkoff.ru/loans/auto-loan/") Автокредит