
main
  a.splash(href="https://www.tinkoff.ru/cards/credit-cards/and-debit-cards/2/?internal_source=home_main_block_test")
    .splash-content
      .offer
        div
          h1 Выбирайте из наших лучших карт
          p4.tough-choice 
            | Кредитная с лимитом или дебетовая
            br
            | с доходом. А может быть обе?
        div
          .offer-button Выбрать карты
  include main/products.pug
  include main/trust.pug
  include main/services.pug
  include main/interesting.pug
  include main/feedback.pug

