ul.services-list
  li.service-heading
    a(href="https://www.tinkoff.ru/invest/") Инвестиции
  li
    a(href="https://www.tinkoff.ru/invest/feed/") Лента
  li
    a(href="https://www.tinkoff.ru/invest/catalog/") Каталог
  li
    a(href="https://www.tinkoff.ru/invest/recommendations/") Что купить
  li
    a(href="https://www.tinkoff.ru/invest/premium/") Премиум
  li
    a(href="https://www.tinkoff.ru/invest/account/") Брокерский счёт
  li
    a(href="https://www.tinkoff.ru/invest/iis/") ИИС
  li
    a(href="https://www.tinkoff.ru/invest/tariffs/") Тарифы
  li
    a(href="https://www.tinkoff.ru/invest/form/agent-invite/") Партнёрам