ul.services-list
  li.service-heading
    a(href="https://www.tinkoff.ru/business/") Бизнес
  li
    a(href="https://www.tinkoff.ru/business/account/") Расчётный счёт
  li
    a(href="https://www.tinkoff.ru/business/registration/") Регистрация бизнеса
  li
    a(href="https://www.tinkoff.ru/corporate/") Среднему бизнесу
  li
    a(href="https://www.tinkoff.ru/business/payments/") Эквайринг
  li
    a(href="https://www.tinkoff.ru/business/credit/") Кредиты
  li
    a(href="https://www.tinkoff.ru/business/procurement/") Госзакупки
  li
    a(href="https://www.tinkoff.ru/business/sales/") Продажи
  li
    a(href="https://www.tinkoff.ru/business/reports/") Бухгалтерия