ul.services-list
  li.heading
    a(href="https://www.tinkoff.ru/insurance/") СТРАХОВАНИЕ
  li
    a(href="https://www.tinkoff.ru/insurance/osago/") ОСАГО
  li
    a(href="https://www.tinkoff.ru/insurance/kasko/") КАСКО
  li
    a(href="https://www.tinkoff.ru/insurance/travel/") Путешествия
  li
    a(href="https://www.tinkoff.ru/insurance/property/") Квартира и дом
  li
    a(href="https://www.tinkoff.ru/insurance/health/") Здоровье
  li
    a(href="https://www.tinkoffinsurance.ru/login/?_ga=2.254503873.810188987.1633503903-1986941792.1633503903") Личный кабинет
  li
    a(href="https://www.tinkoffinsurance.ru/ins/partners-product/?_ga=2.254503873.810188987.1633503903-1986941792.1633503903") Партнерам