ul.services-list
  li.heading
    a(href="https://www.tinkoff.ru/") БАНК
  li
    a(href="https://www.tinkoff.ru/cards/credit-cards/") Кредитные карты
  li
    a(href="https://www.tinkoff.ru/cards/debit-cards/") Дебетовые карты
  li
    a(href="https://www.tinkoff.ru/tinkoff-premium/") Премиум
  li
    a(href="https://www.tinkoff.ru/loans/cash-loan/") Кредит наличными
  li
    a(href="https://www.tinkoff.ru/loans/refinance/") Рефинансирование
  li
    a(href="https://www.tinkoff.ru/loans/auto-loan/") Автокредит
  li
    a(href="https://www.tinkoff.ru/deposit/") Вклады
  li
    a(href="https://www.tinkoff.ru/payments/") Платежи