ul.services-list
  li.heading
    a(href="https://www.tinkoff.ru/entertainment/samara/life/") РАЗВЛЕЧЕНИЯ
  li
    a(href="https://www.tinkoff.ru/entertainment/samara/life/") Куда сходить
  li
    a(href="https://www.tinkoff.ru/entertainment/samara/movies/") Кино
  li
    a(href="https://www.tinkoff.ru/entertainment/samara/restaurants/") Рестораны
  li
    a(href="https://www.tinkoff.ru/entertainment/samara/concerts/") Концерты
  li
    a(href="https://www.tinkoff.ru/entertainment/samara/spectacles/") Театр
  li
    a(href="https://www.tinkoff.ru/entertainment/sports/") Спорт
  li
    a(href="https://www.tinkoff.ru/login/?redirectTo=%2Fentertainment%2Fbookings%2F&redirectType=") Мои заказы