.feedback-card {
  position: relative;

  padding: 32px;
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: var(--tinkoff-grey);
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback-card-header {
  margin: 20px 0;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5em;

  transition: color 0.2s ease-in;
}

.feedback-card-content p {
  line-height: 1.65em;
  font-family: arial, sans-serif;
  margin: 20px 0;
  // width: 49%;
}

.feedback-card-action {
  // margin-top: 40px;
  text-decoration: none;
  
  color: var(--navy-blue);
  transition: color 0.2s ease-in;
}

.feedback-card-action:hover {
  color: var(--marine-blue);
}