:root {
  --extralight-grey: rgba(0,0,0,0.1);
  --lighter-grey: rgba(0,0,0,0.4);
  --light-grey: rgba(0,0,0,0.6);
  --dark-grey: #959BA4;
  --darkest-grey: rgba(0,0,0,0.8);
  --navy-blue: #336FEE;
  --marine-blue: #1464CC;
  --tinkoff-grey: #F5F5F6;
  --gold: #FFDD2D;
  --dark-gold: #FCC521;
  --blue-grey: #ECF1F7;
  --blue-grey-darker: #E4EBF3;
}

@font-face {
  font-family: 'Tinkoff Sans';
  src: url("!!file-loader!../../asset/TinkoffSans.woff2");
}


@font-face {
  font-family: 'Neue Haas';
  src: url("!!file-loader!../../asset/NeueHaasUnicaW1G-Regular.woff2");
}

html {
  font-size: 15px;
  font-family: 'Neue Haas';
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Tinkoff Sans"
}

body {
  margin: 0;
  min-width: fit-content;
}

*, *::after, *::before {
  box-sizing: border-box;
}

hr.divider {
  margin: 0;
  border: none;
  border-top : thin solid var(--extralight-grey);
}


@import "./header.scss";
@import "./main.scss";

@import "./footer.scss";
