:root {
  // --light-grey: #757575;
  --lighter-grey: rgba(0,0,0,0.4);
  --light-grey: rgba(0,0,0,0.6);
  --navy-blue: #336FEE;
  --dark-grey: rgba(0,0,0,0.8);
  --marine-blue: #1F50BA;
}

html {
  font-size: 16px;
  font-family: arial, sans-serif;
}

body {
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}


@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";