// :root {
//     --blue-grey: #ECF1F7;
//     --blue-grey-darker: #E4EBF3;
//   }

.interesting-card {
  position: relative;
  width: var(--interesting-card-width);
  margin-right: var(--interesting-card-margin);

  margin-top: 48px;
  padding: 32px;

  background-color: #F5F5F6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interesting-card:nth-child(2n) {
  margin-right: 0;
}

.interesting-card-header {
  margin: 20px 0;
  font-weight: normal;
  margin-top: 0;

  transition: color 0.2s ease-in;
}

.interesting-card:hover .interesting-card-header {
  color: var(--navy-blue);
}

.interesting-card-content p {
  line-height: 1.65em;
  font-size: 0.85em;
  margin: 20px 0;
  height: 45px;
}

.interesting-card-action {
  margin-top: 40px;
  text-decoration: none;
  font-size: 0.85em;
  
  color: var(--navy-blue);
  transition: border-color 0.2s ease-in;
}

.interesting-card-action:hover {
  border-color: var(--marine-blue);
}

.interesting-card-stretched-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
