
@media screen and (min-width: 1340px) {
  main {
    --container-width: 1080px;
    
    --product-card-margin: 48px;
    --trust-card-margin: 48px;
    // --service-card-margin: 48px;
    --interesting-card-margin: 48px;
  }

  // .splash-content {
  //   background-position-x: -200px;
  // }

  .feedback-card {
    background-position-x: right;
  }

  .feedback-card-action {
    margin-top: 40px;
  }
  
  .feedback-card-content p {
    width: 49%;
  }

  .splash-image {
    left: 0;
    background-position-x: -250px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
  main {
    --container-width: 800px;

    --product-card-margin: 48px;
    --trust-card-margin: 48px;
    // --service-card-margin: 48px;
    --interesting-card-margin: 48px;
  }

  // .splash-content {
  //   background-position-x: -500px;
  // }

  .feedback-card {
    background-position: bottom 0px right -60px;
  }

  .feedback-card-action {
    margin-top: 0;
  }

  .feedback-card-content p {
    width: 43%;
  }
  
  .splash-image {
    left: -112px;
    background-position-x: -250px;
  }
}

$product-card-count: 3;
$trust-card-count: 2;
// $service-card-count: 2;
$interesting-card-count: 2;

main {
  --product-card-width: calc((var(--container-width) - #{$product-card-count - 1} * var(--product-card-margin)) / #{$product-card-count});
  --trust-card-width: calc((var(--container-width) - #{$trust-card-count - 1} * var(--trust-card-margin)) / #{$trust-card-count});
  // --service-card-width: calc((var(--container-width) - #{$service-card-count - 1} * var(--service-card-margin)) / #{$service-card-count});
  --interesting-card-width: calc((var(--container-width) - #{$interesting-card-count - 1} * var(--interesting-card-margin)) / #{$interesting-card-count});
}

main {
  color: var(--darkest-grey);
}

@import "./product-card.scss";
@import "./trust-card.scss";
@import "./service-card.scss";
@import "./interesting-card.scss";
@import "./feedback-card.scss";

.splash {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--darkest-grey);

  background-color: var(--tinkoff-grey);
  // background-color: transparent;

  // background-image: url("../../asset/tinkoff-splash.png");
  // background-repeat: no-repeat;
  // background-size: cover;

}

.splash-image {
  background-image: url("../../asset/tinkoff-splash.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1024px;
  // left: 0;
  // margin: auto;
  // left: -20px;
  // left: -20px;
  top: 0;
  bottom: 0;
  position: absolute;

  z-index: 1;
}

// @media screen and (min-width: )

a.splash-stretched-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.splash-gradient-backdrop {
  background: linear-gradient(rgba(0,0,0,0.08) 0%, transparent 10%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.splash-content {
  // background-image: url("../../asset/tinkoff-splash.png");
  // background-repeat: no-repeat;
  // background-size: cover;

  position: relative;

  height: 480px;

  width: var(--container-width);
  margin: auto;
  padding: 16px 0;
}

.offer {
  position: relative;
  z-index: 2;

  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.offer h1 {
  margin: 28px 0;
  font-weight: normal;
  font-size: 44px;
}

.offer-text {
  margin-bottom: 200px;
  line-height: 1.65em;
}

.offer-button {
  border: none;
  outline: none;
  position: relative;
  z-index: 200;
  display: inline-block;
  font-size: 1em;
  color: var(--darkest-grey);
  
  border-radius: 4px;
  margin-bottom: 48px;
  padding: 0;
  
  transition: background-color 0.2s ease-in;
  background-color: var(--gold);
}

.offer-button a {
  padding: 20px 32px;
  display: block;
  text-decoration: none;
  color: var(--darkest-grey);
}

.offer-button:hover {
  background-color: var(--dark-gold);
}

.products, .services, .trust, .interesting, .feedback {
  padding: 48px 0;
}

section .heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 2.5em;
}

.products-content, .services-content, .trust-content, .interesting-content, .feedback-content {
  width: var(--container-width);
  margin: auto;
}

.services {
  background: var(--tinkoff-grey);
}

.service-card-transfers {
  margin-right: 48px;
}

.service-card-transfers, .service-card-withdraw {
  flex-grow: 1;
}

.feedback-heading {
  text-align: center;
}

.products-items, .trust-items, .services-items, .interesting-items, .feedback-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.product-card-casco .product-card-image {
  background-image: url("../../asset/tinkoff-casco.png");
}

.product-card-osago .product-card-image {
  background-image: url("../../asset/tinkoff-osago.png");
}

.product-card-business .product-card-image {
  background-image: url("../../asset/tinkoff-business.png");
}

.product-card-credit .product-card-image {
  background-image: url("../../asset/tinkoff-credit.png");
}

.product-card-our-best-cards .product-card-image {
  background-image: url("../../asset/tinkoff-our-best-cards.png");
}

.product-card-invest .product-card-image {
  background-image: url("../../asset/tinkoff-invest.png");
}

.trust-card-3rd .trust-card-image {
  background-image: url("../../asset/tinkoff-3rd.png");
}

.trust-card-best-worldwide .trust-card-image {
  background-image: url("../../asset/tinkoff-best-worldwide.png");
}

.service-card-mobile-apps {
  background-image: url("../../asset/tinkoff-mobile-apps.png");
  background-color: white;
  background-position-y: -32px;
}

.interesting-card-jobs {
  background-image: url("../../asset/tinkoff-jobs.png");
}

.interesting-card-education {
  background-image: url("../../asset/tinkoff-education.png");
}

.interesting-card-magazine {
  background-image: url("../../asset/tinkoff-magazine.png");
}

.interesting-card-all-products {
  background-image: url("../../asset/tinkoff-all-products.png");
}

.feedback-card {
  background-image: url("../../asset/tinkoff-feedback.png");
}