section.feedback
  .feedback-content
    h2.feedback-heading.heading Отзывы клиентов Тинькофф
    .feedback-items
      .feedback-card
        .feedback-card-container
          .feedback-card-content-container
            div
              h3.feedback-card-header Оставьте свой комментарий о&nbsp;нашей работе
              .feedback-card-content
                p Мы&nbsp;получаем много отзывов от&nbsp;наших клиентов. Решили поделиться некоторыми из&nbsp;них. Также вы&nbsp;можете отправить свою обратную связь о&nbsp;работе Тинькофф.
          .feedback-card-action-container
            a(href="https://www.tinkoff.ru/otzyyvy/tinkoff-debitcards/?internal_source=home").feedback-card-action Подробнее