.feedback
  .feedback-content
    h2.feedback-heading Отзывы клиентов Тинькофф
    .feedback-items
      .feedback-card
        .feedback-card-container
          h3.feedback-card-header Оставьте свой комментарий о нашей работе
          .feedback-card-content
            p Мы получаем много отзывов от наших клиентов. Решили поделиться некоторыми из них. Также вы можете отправить свою обратную связь о работе Тинькофф.
        a(href="https://www.tinkoff.ru/otzyyvy/tinkoff-debitcards/?internal_source=home").feedback-card-action Подробнее