section.interesting
  .interesting-content
    h2.heading Может быть интересно
    .interesting-items
      .interesting-card.interesting-card-jobs
        .interesting-card-container
          .interesting-card-content-container
            h3.interesting-card-header Тинькофф вакансии
            .interesting-card-content
              p Работа мечты
          .interesting-card-action-container
            a(href="https://www.tinkoff.ru/career/?internal_source=main_tinkoff").interesting-card-action Подробнее
          a(href="https://www.tinkoff.ru/career/?internal_source=main_tinkoff").interesting-card-stretched-link
      .interesting-card.interesting-card-education
        .interesting-card-container
          .interesting-card-content-container
            h3.interesting-card-header 
              | Тинькофф 
              br
              | Образование
            .interesting-card-content
              p Инвестируйте в себя
          .interesting-card-action-container
            a(href="https://fintech.tinkoff.ru/?internal_source=main_tinkoff&_ga=2.23808755.810188987.1633503903-1986941792.1633503903").interesting-card-action Подробнее
          a(href="https://fintech.tinkoff.ru/?internal_source=main_tinkoff&_ga=2.23808755.810188987.1633503903-1986941792.1633503903").interesting-card-stretched-link
      .interesting-card.interesting-card-magazine
        .interesting-card-container
          .interesting-card-content-container
            h3.interesting-card-header Тинькофф журнал
            .interesting-card-content
              p Популярные статьи
          .interesting-card-action-container
            a(href="https://journal.tinkoff.ru/?internal_source=main_tinkoff&_ga=2.28135157.810188987.1633503903-1986941792.1633503903").interesting-card-action Подробнее
          a(href="https://journal.tinkoff.ru/?internal_source=main_tinkoff&_ga=2.28135157.810188987.1633503903-1986941792.1633503903").interesting-card-stretched-link
      .interesting-card.interesting-card-all-products
        .interesting-card-container
          .interesting-card-content-container
            h3.interesting-card-header 
              | Все продукты
              br
              | Тинькофф
            .interesting-card-content
              p Экосистема всех продуктов
          .interesting-card-action-container
            a(href="https://www.tinkoff.ru/new-product/?internal_source=main_tinkoff").interesting-card-action Подробнее
          a(href="https://www.tinkoff.ru/new-product/?internal_source=main_tinkoff").interesting-card-stretched-link