section.splash
  img.splash-image(src=require("../../../asset/tinkoff-splash.png"))
  .splash-gradient-backdrop
  a.splash-stretched-link(href="https://www.tinkoff.ru/cards/credit-cards/and-debit-cards/2/?internal_source=home_main_block_test")
  .splash-content
    .offer
      div
        h1 Выбирайте из наших лучших карт
        p4.offer-text 
          | Кредитная с лимитом или дебетовая
          br
          | с доходом. А может быть обе?
      div
        button.offer-button
          a(href="https://www.tinkoff.ru/cards/credit-cards/and-debit-cards/2/?internal_source=home_main_block_button_test") Выбрать карты