section.trust
  .trust-content
    h2.heading Нам доверяют более 14 млн клиентов
    .trust-items
      .trust-card.trust-card-3rd
        .trust-card-container
          .trust-card-content-container
            .trust-card-image
            .trust-card-content
              h3.trust-card-header Третий банк России по количеству клиентов
              p По исследованиям АО «Делойт и ТУШ СНГ», АО «НЭО Центр» и Frost &amp; Sullivan за 2020 г.
          .trust-card-action-container
            a(href="https://www.tinkoff.ru/about/news/06102020-tinkoff-the-third-largest-bank-in-russia-number-of-clients/?internal_source=home_button").trust-card-action-button Подробнее
      .trust-card.trust-card-best-worldwide
        .trust-card-container
          .trust-card-content-container
            .trust-card-image
            .trust-card-content
              h3.trust-card-header Лучший мобильный банк в мире
              p По версии Global Finance — Best Digital Bank Award 2020
          .trust-card-action-container
            a(href="https://www.tinkoff.ru/apps/?internal_source=main_desktop_bestapp").trust-card-action-button Установить